[Unit]
Description=Websocket-enabled Flask server for viewing collected sensor data
After=syslog.target

[Service]
Type=idle
User=pi
Group=pi
Environment=FLASK_APP=sensors.py
WorkingDirectory=/opt/wireless/server/
ExecStart=/opt/venv/bin/python runserver.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

