[Unit]
Description=Simple sensor data receiver service
After=syslog.target

[Service]
Type=idle
User=pi
Group=pi
WorkingDirectory=/opt/wireless/server/
ExecStart=/opt/venv/bin/python /opt/wireless/server/receive.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

